--- ARCHIVOS DE CONFIGURACIÓN LOCAL (IMPORTANTE) ---
No subir estos porque dependen de cada ordenador
local.properties
.gradle
.idea/caches
.idea/libraries
.idea/workspace.xml
.idea/deploymentTargetDropDown.xml
.idea/modules.xml

--- CARPETAS DE COMPILACIÓN ---
Nunca subir lo que se genera automáticamente
build/
app/build/
captures/

--- ARCHIVOS DE ANDROID STUDIO ---
*.iml
*.jks
*.keystore

--- ARCHIVOS DE SISTEMA ---
.DS_Store
Thumbs.db

--- CONFIGURACIÓN DE GRADLE ---
Se sube el wrapper para que el proyecto compile en cualquier PC
!gradle/wrapper/gradle-wrapper.jar

--- EXCEPCIONES IMPORTANTES ---
Aseguramos que NO se ignore el código ni los assets
!/src/main/java/
!/src/main/kotlin/
!/src/main/assets/
!/src/main/res/